<select-filter [genres]="genres" [genresFilm]="genresFilm" (sendmov) = "recibeData($event)"></select-filter>
<div class="items-center px-2 min-h-screen">
  <div class="container mx-auto">
    <h1 class="text-3xl lg:text-4xl text-red-700 font-extrabold">
      Peliculas Populares
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
      <div class="w-full cursor-pointer" *ngFor="let trending of TrendingResult" [routerLink]="['/movie',trending.id]">
        <div class="bg-gray-800 rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300 min-h-full flex flex-col">
          <figure class="mb-2">
            <img src="https://image.tmdb.org/t/p/original/{{trending.backdrop_path}}" alt="" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-gray-700 flex flex-col flex-grow">
            <h5 class="text-white text-2xl font-bold leading-none my-2">
              {{trending.title}}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





